<form method="POST" action="/new">
	<div class="input-box">
		<label for='user'>user</label>
		<input  name='user' type='text' />
	</div>
	<div class="input-box">
		<label for='message'>Message</label>
		<input id='message' name='text' type="text-box" />
	</div>
	<button>Submit</button>
</form>
