<head>
	<link rel="stylesheet" href="styles.css">
</head>
<html>
	<body>
		<h1 class="title">Mini Message Board</h1>
		<button id="new-button" onclick="window.location.href='/new'">New Message</button>
		<% messages.forEach((message) => { %>
			<%- include('message', {
				'text': message.text,
				'user': message.user,
				'added': message.added,
				'profile': message.profile,
			}) %>
		<% })%>
	</body>
</html>
