<head>
	<link rel="stylesheet" href="/styles.css">
</head>
<html>
	<body>
		<h1 class="title">Mini Message Board</h1>
		<div>
			<%- include('message', {
				'text': message.text,
				'user': message.user,
				'added': message.added,
				'profile': message.profile,
				'id': message.id
			}) %>
		</div>
		<!-- <h3 id="comments-title">Comments</h3> -->
		<ul id="comments"><% message.comments.forEach((comment) => { %>
			<%- include('comment', {
				'user': comment.user,
				'text': comment.text,
				'added': comment.added,
			}) %>
		<% }) %>
		</ul>
		<button id="new-button" onclick="window.location.href='/new'">New Message</button>
		<button id="return-button" onclick="window.location.href='/'">return</button>
	</body>
</html>
