<head>
	<link rel="stylesheet" href="/styles.css">
</head>
<html>
	<body>
		<h1 class="title">Mini Message Board</h1>
		<div class="button-div">
			<button id="new-button" onclick="window.location.href='/new'">New Message</button>
			<button id="return-button" onclick="window.location.href='/'">return</button>
		</div>
		<div>
			<%- include('message', {
				'text': message.text,
				'user': message.user,
				'added': message.added,
				'profile': message.profile,
				'id': message.id
			}) %>
		</div>
		<form id='comment-form'>
			<h3>Post your reply</h3>
			<div class='input-comment-div'>
				<label for='name'>User</label>
				<input type='text' name="comment-user" value="Anonymous" onclick="this.select()" />
			</div>
			<div class='input-comment-div'>
				<label for='text'>Message</label>
				<input type='text' name="comment-text" value="Enter message here" onclick="this.select()" />
			</div>
			<button id="submit-button">Submit</button>
		</form>
		<h3 id="comments-title">Comments</h3>
		<ul id="comments"><% message.comments.forEach((comment) => { %>
			<%- include('comment', {
				'user': comment.user,
				'text': comment.text,
				'added': comment.added,
			}) %>
		<% }) %>
		</ul>
	</body>
</html>
