:root {
	--blue: #3571de;
	--timing: 0.4s;
	--red: #ed1e45;
}

* {
	transition: all var(--timing) ease-in-out;
	padding: 0px;
	margin: 0px;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	width: 100vw;
	align-items: center;
}

li {
	list-style: none;
}

h1 {
	padding: 10px 0px;
}

#new-button {
	margin: 10px 0px;
	width: auto;
}

#new-button:hover {
	background-color: var(--blue);
}

button {
	padding: 5px;
	width: 100px;
	padding: 10px;
	background-color: white;
	border: 1px solid grey;
	border-radius: 10px;
	cursor: pointer;
}

button:hover {
	scale: 1.05;
	color: white;
}

.profile-photo {
	width: 50px;
	border-radius: 50px;
	border: 1px solid black;
}

.message-header {
	display: flex;
	align-items: center;
	grid-column: span 2;
	gap: 15px;
}

.message-header > p {
	font-size: 20px;
	text-align: center;
}

.date {
	font-size: 10px;
	opacity: 0;
	grid-column: 2;
	grid-row: 3;
}

.message {
	grid-column: 2;
	grid-row: 2;
	/* align-self: center; */
}

.card {
	margin: 10px;
	padding: 10px 20px;
	display: grid;
	grid-template-columns: 60px 300px;
	grid-template-rows: 1fr 1fr 10px;
	border: 1px solid grey;
	max-height: 90px;
	min-height: 90px;
	border-radius: 20px;
	cursor: pointer;
	-webkit-box-shadow: 7px 10px 24px -10px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 7px 10px 24px -10px rgba(0, 0, 0, 0.75);
	box-shadow: 7px 10px 24px -10px rgba(0, 0, 0, 0.75);
}

.card:hover {
	.date {
		opacity: 1;
	}
	scale: 1.03;
}

form {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-top: 20px;
	padding: 20px;
	border: 1px solid grey;
	border-radius: 20px;
	-webkit-box-shadow: 7px 10px 24px -10px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 7px 10px 24px -10px rgba(0, 0, 0, 0.75);
	box-shadow: 7px 10px 24px -10px rgba(0, 0, 0, 0.75);
}

#comment-form {
	gap: 5px;
	margin-top: 10px;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

.input-comment-div > label {
	font-size: 14px;
}

.input-comment-div > input[name="text"] {
	width: 300px;
}
.input-comment-div > input[name="user"] {
	width: 200px;
}

.input-comment-div > input {
	border: none;
	transition: all 0s;
	border-radius: 0px;
	border-bottom: 1px solid grey;
	color: grey;
}
.input-comment-div > input:focus {
	border: none;
	color: black;
	border-radius: 10px;
}

.input-comment-div {
	display: flex;
	flex-direction: column;
}

#comment-form > #submit-button {
	align-self: end;
}

.input-box {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

input {
	padding: 5px 10px;
	border-radius: 10px;
	border: 1px solid grey;
}

#submit-button:hover {
	background-color: var(--blue);
}

#cancel-button:hover {
	background-color: var(--red);
}

#return-button:hover {
	background-color: grey;
}

.form-buttons {
	margin-top: 10px;
	display: flex;
	gap: 10px;
	justify-content: end;
}

form > h1 {
	font-size: 30px;
}

#comments {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	/* gap: 15px; */
}

.comment {
	display: flex;
	flex-direction: column;
	width: 300px;
	border-top: 1px solid grey;
	padding: 10px;
}
.comment-heading {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.comment-user {
	font-weight: 500;
}

.comment-date {
	color: grey;
	font-size: 12px;
	align-self: center;
}

#comments-title {
	align-self: left;
	width: 300px;
	text-align: left;
}
